[Unit]
Description=My clock
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/<username>/clock.py
[Install]
WantedBy=multi-user.target
